<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon~iphone.png</string>
		<string>Icon@2x~iphone.png</string>
		<string>Icon~ipad.png</string>
		<string>Default.png</string>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Default@2x.png</string>
		<string>Default-Portrait@2x~ipad.png</string>
		<string>Default-Portrait@2x~ipad.png</string>
		<string>Default-Landscape@2x~ipad.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon~iphone.png</string>
				<string>Icon@2x~iphone.png</string>
				<string>Icon~ipad.png</string>
				<string>Default.png</string>
				<string>Default.png</string>
				<string>Default@2x.png</string>
				<string>Default@2x.png</string>
				<string>Default-Portrait@2x~ipad.png</string>
				<string>Default-Portrait@2x~ipad.png</string>
				<string>Default-Landscape@2x~ipad.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.okfreelance.sudoku</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>vaground.ttf</string>
		<string>GOTHAMCONDENSED-BOLD.OTF</string>
		<string>GOTHAMCONDENSED-BOOK.OTF</string>
		<string>GOTHAMCONDENSED-LIGHT.OTF</string>
		<string>GOTHAMCONDENSED-MEDIUM.OTF</string>
		<string>GOTHAMROUNDED-LIGHTITALIC.OTF</string>
		<string>GOTHAMROUNDED-MEDIUM.OTF</string>
		<string>GOTHAMROUNDED-MEDIUMITALIC.OTF</string>
		<string>JAPAB.TTF</string>
		<string>gothamblack.otf</string>
		<string>gothamblackitalic.otf</string>
		<string>gothambold.otf</string>
		<string>gothambolditalic.otf</string>
		<string>gothambook.otf</string>
		<string>gothambookitalic.otf</string>
		<string>gothamextralight.otf</string>
		<string>gothamextralightitalic.otf</string>
		<string>gothamlight.otf</string>
		<string>gothamlightitalic.otf</string>
		<string>gothammedium.otf</string>
		<string>gothammediumitalic.otf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
